<button {{action toggleThing}}>Toggle</button>
<AnimatedContainer>
  {{#animated-if showThing use=transition }}
    <div class="message" {{action "toggleThing"}}>
      Hello!
    </div>
  {{/animated-if}}
</AnimatedContainer>
