{{#if (gt this.errors.length 0)}}
  <div class="errors">
    {{#each this.errors as |error|}}
      <div class="error">
        {{error}}
      </div>
    {{/each}}
  </div>
{{/if}}
<form class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-control-group">
      <label for="happy-input">When things were good:</label>
      <Input
        type="text"
        id="happy-input"
        class="numerical-input"
        placeholder="e.g. 0"
        @value={{this.happyValueString}}
      />
    </div>
    <div class="pure-control-group">
      <label for="sad-input">When things were bad:</label>
      <Input
        placeholder="e.g. 30"
        id="sad-input"
        class="numerical-input"
        @value={{this.sadValueString}}
      />
    </div>
    <div class="pure-controls">
      <button
        type="button"
        class="pure-button pure-button-primary"
        {{on "click" this.onBeginClick}}
      >Begin</button>
    </div>
  </fieldset>
</form>
