<div class="intro-gather-inputs">
  {{#unless (eq errors.length 0)}}
    <div class="errors">
      {{#each errors as |error|}}
        <div class="error">
          {{error}}
        </div>
      {{/each}}
    </div>
  {{/unless}}
  <div>
    <img src="emoticon-happy-outline.png" />
    <Input
      class="numerical-input"
      @value={{happyValueString}}
    />
  </div>
  <div>
    <img src="emoticon-sad-outline.png" />
    <Input
      class="numerical-input"
      @value={{sadValueString}}
    />
  </div>
  <button
    type="button"
    {{on "click" this.beginClicked}}
  >Begin</button>
</div>
