{{#if (eq this.grouping.faces.length 0)}}
  Done!
{{else}}
  {{#each this.grouping.faces as |face|}}
    <SmileyFace
      @face={{face}}
      @onSmileyFaceClickPrime={{this.onSmileyFaceClickPrime}}
    />
  {{/each}}
  <div class="number">
    {{this.grouping.integer}}
  </div>
{{/if}}
