{{#if (eq grouping.faces.length 0)}}
  Done!
{{else}}
  {{#each grouping.faces as |face|}}
    <SmileyFace
      @face={{face}}
      @onSmileyClick={{action "smileyFaceClicked"}}
    />
  {{/each}}
  <div class="number">
    {{grouping.integer}}
  </div>
{{/if}}
