
.animation-canvas {
  position: relative;
  background-color: red;
  height: 100px;
  width: 400px;
}

.numerical-input {
  width: 40px;
}

.smiley-face-with-number {
  position: absolute;
}

.state-left {
  left: 0px;
}

.state-right {
  left: 150px;
}

.transition-left-to-right {
  animation-duration: 600ms;
  animation-name: transition-left-to-right;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes transition-left-to-right {
  from {
    left: 0px;
  }

  to {
    left: 150px;
  }
}
