@use 'mixins';

.done {
  $width: 150px;
  $opacity-transparent: 0%;
  $opacity-opaque: 100%;
  $fading-duration: 600ms;
  width: $width;
  position: absolute;
  top: 56px;
  left: 50%;
  margin-left: - $width / 2;
  text-align: center;
  font-style: italic;

  &.opacity-transparent {
    opacity: $opacity-transparent;
  }

  &.opacity-opaque {
    opacity: $opacity-opaque;
  }

  &.opacity-from-transparent-to-opaque {
    @include mixins.ease-animation;
    animation-duration: $fading-duration;
    animation-name: opacity-from-transparent-to-opaque;
  }

  @keyframes opacity-from-transparent-to-opaque {
    from {
      opacity: $opacity-transparent;
    }

    to {
      opacity: $opacity-opaque;
    }
  }
}
