.gather-inputs {
  .pure-control-group {
    margin: 10px 0;
  }

  .pure-controls {
    margin: 14px 0;
  }

  label {
    font-size: 14px;
  }

  .errors {
    color: red;
    font-size: 14px;
  }
}
