.intro-gather-inputs {
  .row-happy,
  .row-sad {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
  }

  .input-happy,
  .input-sad {
    padding-left: 8px;
  }

  .errors {
    color: red;
  }
}
