.smiley-face {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 50%;
  margin-left: -24px;

  &.choice-left {
    transform: translateX(-30px);
  }

  &.choice-right {
    transform: translateX(30px);
  }

  &.position-opaque {
    opacity: 100%;
  }

  &.position-transparent {
    opacity: 0%;
  }

  &.position-left {
    transform: translateX(-30px);
  }

  &.position-center {
    transform: translateX(0px);
  }

  &.position-right {
    transform: translateX(30px);
  }

  &.position-from-left-to-center {
    animation-duration: 600ms;
    animation-name: position-from-left-to-center;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes position-from-left-to-center {
    from {
      transform: translateX(-30px);
    }

    to {
      transform: translateX(0px);
    }
  }

  &.position-from-right-to-center {
    animation-duration: 600ms;
    animation-name: position-from-right-to-center;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes position-from-right-to-center {
    from {
      transform: translateX(30px);
    }

    to {
      transform: translateX(0px);
    }
  }

  &.opacity-from-opaque-to-transparent {
    animation-duration: 600ms;
    animation-name: opacity-from-opaque-to-transparent;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes opacity-from-opaque-to-transparent {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }
}
