@use 'mixins';

.smiley-face {
  $width: 48px;
  $height: 48px;
  $position-right: 30px;
  $position-center: 0px;
  $position-left: - $position-right;
  $movement-duration: 600ms;
  $opacity-transparent: 0%;
  $opacity-opaque: 100%;
  $fading-duration: 600ms;
  width: $width;
  height: $height;
  position: absolute;
  left: 50%;
  margin-left: - $width / 2;

  &.fill-yellow .face-circle {
    fill: #ffc500 !important;
  }

  &.fill-none .face-circle {
    fill: none !important;
  }

  &.opacity-transparent {
    opacity: $opacity-transparent;
  }

  &.opacity-opaque {
    opacity: $opacity-opaque;
  }

  &.opacity-from-opaque-to-transparent {
    @include mixins.ease-animation;
    animation-duration: $fading-duration;
    animation-name: opacity-from-opaque-to-transparent;
  }

  @keyframes opacity-from-opaque-to-transparent {
    from {
      opacity: $opacity-opaque;
    }

    to {
      opacity: $opacity-transparent;
    }
  }

  &.position-right {
    transform: translateX($position-right);
  }

  &.position-center {
    transform: translateX($position-center);
  }

  &.position-left {
    transform: translateX($position-left);
  }

  &.position-from-right-to-center {
    @include mixins.ease-animation;
    animation-duration: $movement-duration;
    animation-name: position-from-right-to-center;
  }

  @keyframes position-from-right-to-center {
    from {
      transform: translateX($position-right);
    }

    to {
      transform: translateX($position-center);
    }
  }

  &.position-from-left-to-center {
    @include mixins.ease-animation;
    animation-duration: $movement-duration;
    animation-name: position-from-left-to-center;
  }

  @keyframes position-from-left-to-center {
    from {
      transform: translateX($position-left);
    }

    to {
      transform: translateX($position-center);
    }
  }
}
