.smiley-grouping {
  height: 80px;
  width: 48px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -24px;

  .number {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
  }

  &.opacity-opaque {
    opacity: 100%;
  }

  &.opacity-transparent {
    opacity: 0%;
  }

  &.opacity-from-transparent-to-opaque {
    animation-duration: 600ms;
    animation-name: opacity-from-transparent-to-opaque;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes opacity-from-transparent-to-opaque {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  &.position-far-left {
    transform: translateX(-300px);
  }

  &.position-left {
    transform: translateX(-150px);
  }

  &.position-center {
    transform: translateX(0px);
  }

  &.position-right {
    transform: translateX(150px);
  }

  &.position-far-right {
    transform: translateX(300px);
  }

  &.position-from-center-to-left {
    animation-duration: 600ms;
    animation-name: position-from-center-to-left;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes position-from-center-to-left {
    from {
      transform: translateX(0px);
    }

    to {
      transform: translateX(-150px);
    }
  }

  &.position-from-left-to-far-left {
    animation-duration: 600ms;
    animation-name: position-from-left-to-far-left;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes position-from-left-to-far-left {
    from {
      transform: translateX(-150px);
    }

    to {
      transform: translateX(-300px);
    }
  }

  &.position-from-center-to-right {
    animation-duration: 600ms;
    animation-name: position-from-center-to-right;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes position-from-center-to-right {
    from {
      transform: translateX(0px);
    }

    to {
      transform: translateX(150px);
    }
  }

  &.position-from-right-to-far-right {
    animation-duration: 600ms;
    animation-name: position-from-right-to-far-right;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes position-from-right-to-far-right {
    from {
      transform: translateX(150px);
    }

    to {
      transform: translateX(300px);
    }
  }
}
