.smiley-grouping {
  $width: 48px;
  $height: 80px;
  $position-far-right: 300px;
  $position-right: 150px;
  $position-center: 0px;
  $position-left: - $position-right;
  $position-far-left: - $position-far-right;
  $movement-duration: 600ms;
  $opacity-full: 100%;
  $opacity-none: 0%;
  $fading-duration: 600ms;
  width: $width;
  height: $height;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: - $width / 2;

  .number {
    $width: 100px;
    width: $width;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: - $width / 2;
    text-align: center;
  }

  &.opacity-opaque {
    opacity: $opacity-full;
  }

  &.opacity-transparent {
    opacity: $opacity-none;
  }

  &.opacity-from-transparent-to-opaque {
    @include ease-animation;
    animation-duration: $fading-duration;
    animation-name: opacity-from-transparent-to-opaque;
  }

  @keyframes opacity-from-transparent-to-opaque {
    from {
      opacity: $opacity-none;
    }

    to {
      opacity: $opacity-full;
    }
  }

  &.position-far-right {
    transform: translateX($position-far-right);
  }

  &.position-right {
    transform: translateX($position-right);
  }

  &.position-center {
    transform: translateX($position-center);
  }

  &.position-left {
    transform: translateX($position-left);
  }

  &.position-far-left {
    transform: translateX($position-far-left);
  }

  &.position-from-right-to-far-right {
    @include ease-animation;
    animation-duration: $movement-duration;
    animation-name: position-from-right-to-far-right;
  }

  @keyframes position-from-right-to-far-right {
    from {
      transform: translateX($position-right);
    }

    to {
      transform: translateX($position-far-right);
    }
  }

  &.position-from-center-to-right {
    @include ease-animation;
    animation-duration: $movement-duration;
    animation-name: position-from-center-to-right;
  }

  @keyframes position-from-center-to-right {
    from {
      transform: translateX($position-center);
    }

    to {
      transform: translateX($position-right);
    }
  }

  &.position-from-center-to-left {
    @include ease-animation;
    animation-duration: $movement-duration;
    animation-name: position-from-center-to-left;
  }

  @keyframes position-from-center-to-left {
    from {
      transform: translateX($position-center);
    }

    to {
      transform: translateX($position-left);
    }
  }

  &.position-from-left-to-far-left {
    @include ease-animation;
    animation-duration: $movement-duration;
    animation-name: position-from-left-to-far-left;
  }

  @keyframes position-from-left-to-far-left {
    from {
      transform: translateX($position-left);
    }

    to {
      transform: translateX($position-far-left);
    }
  }
}
