<h1>The bisect tool</h1>
<p>
  Welcome to the bisect tool!
  This tool will help you track down when things went from good to bad.
  {{#if inIntro}}
    Get started by entering a number when things were good and entering another number when things were bad.
  {{/if}}
</p>
{{#if inIntro}}
  {{intro-gather-inputs
    begin=(action "begin")
  }}
{{else}}
  {{animated-canvas}}
  {{#if isDone}}
    <button
      type="button"
      {{on "click" this.startOverClicked}}
    >Start over</button>
  {{/if}}
{{/if}}
