<h1>The bisect tool</h1>
<p>
  Welcome to the bisect tool!
  This tool will help you track down when things went from good to bad.
  {{#unless this.isIntroDone}}
    Get started by entering a number when things were good and entering another number when things were bad.
  {{/unless}}
</p>
{{#if this.isIntroDone}}
  <AnimatedCanvas />
  {{#if this.isBisectingDone}}
    <button
      type="button"
      {{on "click" this.startOverClicked}}
    >Start over</button>
  {{/if}}
{{else}}
  <IntroGatherInputs
    @begin={{this.begin}}
  />
{{/if}}
