<h1>The bisect tool</h1>
<p>
  Welcome to the bisect tool!
  This tool will help you track down when things went from good to bad.
  {{#if this.inIntro}}
    Get started by entering a number when things were good and entering another number when things were bad.
  {{/if}}
</p>
{{#if this.inIntro}}
  <IntroGatherInputs
    @begin={{action "begin"}}
  />
{{else}}
  <AnimatedCanvas />
  {{#if this.isDone}}
    <button
      type="button"
      {{on "click" this.startOverClicked}}
    >Start over</button>
  {{/if}}
{{/if}}
