<div class="page">
  <h1>The Bisect Tool</h1>
  <p>
    This tool will help you track down when things went from good to bad.
  </p>
  {{#if this.isIntroDone}}
    <AnimationCanvas />
    <button
      type="button"
      class="pure-button"
      {{on "click" this.startOverClicked}}
    >Start over</button>
  {{else}}
    <IntroGatherInputs
      @begin={{this.begin}}
    />
  {{/if}}
</div>
